

.final__title {
    font-size: clamp(24px, 5vw, 48px); /* Заголовок - крупнее */
    color: #775C8A;
    margin-top: 10px;
    font-family: Inter, sans-serif;
    font-weight: 900;
    text-align: center;
}

.final__block {
    padding-top: 7vh;
    display: flex;
    justify-content: space-around;
}

.final__right {
    gap: 20px;
    display: flex;
    flex-direction: column;
    color: #775C8A;
    font-size: clamp(12px,5vw,20px);
}

.question {
    box-shadow: 3.1px 3.1px 18.62px 0px rgba(0, 0, 0, 0.25);
    background: white;
    color: #997EAC;
    font-weight: 500;
    font-size: clamp(12px, 5vw, 20px);
    font-family: Inter, sans-serif;
    text-align: center;
    cursor: default;
}

.request {
    box-shadow: 3.1px 3.1px 18.62px 0px rgba(0, 0, 0, 0.25);
    background: linear-gradient(180deg, #8F66AB 0%, #625FEB 100%);
    color: white;
    font-weight: 900;
    font-size: clamp(15px, 5vw, 25px);
    font-family: Inter, sans-serif;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.final__circle {
    vertical-align: center;
    margin-top: 50px;
    width: 100%;
    min-height: 60px;
    border-radius: 999px;
}

/* Эффект при наведении */
.request:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 30px rgba(98, 95, 235, 0.5);
}

/* Эффект при нажатии */
.request:active {
    transform: scale(0.97);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}


.final__ps {
    line-height: 120%;
    margin-top: 50px;
    text-align: center;
    color: #775C8A;
    background-color: #FFFBE782;
    font-size: clamp(24px, 5vw, 38px);
    margin-bottom: 50px;
}


